[Unit]
Description=Instance Job Agent
After=network-online.target

[Service]
ExecStart=/home/user/myDBus/myAppA.py

[Install]
WantedBy=multi-user.target
